.breadcrumbs{
    background-color:#EEEEEE;    
    padding-top: 16px;
    padding-bottom: 16px;
    width: 92%;
    margin-left: auto;
}
.containerBreadcrumbs{
    margin-top: 64;
    background-color:#EEEEEE;
}
.textBreadcrumb{
    font-size: 14px;
    color:#999999 ;
}