
.searchIconBotton {
  background-color: #EBEBEB;
  border-radius: 2;
  height: 42px;   
  padding-left: 20px;
  padding-bottom: 12px;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  display: block;
  min-width: auto;
}
.inputRoot {
  color: black;
  font-size: 18px;
  margin-left: 10px;
  padding-left: 10px;
  background-color: #FFFFFF;
  height: 42px;  
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px
}
.toolbar{
  background-color: #FFE600;
  justify-content: space-around;
  align-items: center ;   
  width: 84%;
  margin: auto;
}
.appbar{
  margin: 0;  
  box-shadow: none;  
  background-color: #FFE600;
}
.iconSearch{
  width: 24;
  height: 24;
  text-align: 'center';
}
.iconLogo{
  width: 24;
  height: 24;
  text-align: 'center';
}
