.container {
    width: 84%;    
    margin: auto;
}
.img {  
    display: block;   
    height: 680px;    
    margin: 0 auto;
    max-width: 98%;   
}
.descriptionTitleDetail {
    font-size: 28px;
    margin-bottom: 32px;
    margin-top: 32px;
}
.descriptionBody {
    font-size: 16px;
    text-align: justify;
    color: #999999
}
.button {
    background-color: #3483fa;
    color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    padding: 7px 14px;
    width: 100%;
}
.button:hover {
    background-color: #5b92e6;
}  
.columnDescriptionLeft{
    margin-top: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
}  
.columnDescriptionRight{
    margin-top: 32px;
    margin-right: 32px;
}
.price{
    font-size: 46px;
    margin-top: 32px;
    margin-bottom: 32px;     
}
.marginBotton14{
    margin-bottom: 14px;
}
.productTitleDetail{
    font-size: 24px;
    font-weight: bold;
}
.soldDetail{
    font-size: 14px;
    color: #333333;
}
