.container {
    width: 84%;    
    margin: auto;
}
.image {   
    padding: 16px;   
    border-radius: 4px;
    height: 180px; 
}
.content {
    height: 392px; 
}
.priceList{
    font-size: 24px;    
}
.productTitle{
    font-size: 18px;
}
.cityTitle{
    font-size: 12px;
}
.marginBotton32{
    margin-bottom: 32px;
}
.shipping{    
    width: 24;
    height: 24;
    text-align: 'center'; 
    padding-left: 10px;    
}
.card{
    border-radius: 0px;
}